Flask==3.1.2
Flask-Cors==5.0.0
Flask-RESTful==0.3.10
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.6.0
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
SQLAlchemy-serializer==1.4.1
Faker==28.0.0
python-dotenv==1.0.1
python-dateutil==2.9.0.post0
requests==2.32.3
twilio==9.2.3
celery==5.4.0
gunicorn==21.2.0



email-validator==2.2.0
